# Public git defaults. Identity lives in a local include (not this repo).
#   mkdir -p ~/.config/git
#   cp ~/dotfiles/agents/config/git.local.example ~/.config/git/local.gitconfig
#   edit name/email there

[include]
	path = ~/.config/git/local.gitconfig
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = cursor --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
[push]
	autoSetupRemote = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
